@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar-hide class */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Webkit browsers */
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
  scrollbar-width: none;  /* Hide scrollbar for Firefox */
}
